/*
Inter Weights 400 + 600
*/
body {
  font-family: 'Inter', sans-serif;
}

/* Base Styles */
p {
  font-size: 18px;
}

header {
  background-image: url('../img/header.jpg');
  background-size: cover;
  height: 80vh;
}

.inner {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

header .inner {
  height: 100%;
}

nav {
  background-color: rgba(255,255,255,.4);
  max-height: 0;
  overflow: hidden;
  width: 100%;
  transition: all 1s ease-out;
}
.open {
  max-height: 200px;
}

nav ul {
  margin-left: 0;
  padding-left: 0;
}

nav li {
  list-style: none;
}

nav a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  background-color: rgba(255,255,255,.4);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem;
  text-transform: uppercase;
}

.menu-button {
  background-color: rgba(255,255,255,.4);
  border: 1px solid transparent;
  line-height: 0;
  padding: 1rem;
  -webkit-appearance: none;
}

.menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fa-heart {
  color: red;
  font-size: 24px;
}

.intro {
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  text-transform: uppercase;
}

.featured-work {
  padding: 20rem 1rem;
}

.featured-work h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.featured-work figure {
  margin-bottom: 2rem;
}

.featured-work figcaption {
  font-size: 14px;
  margin-top: 1rem;
  text-transform: uppercase;
}

.about {
  background: #fafafa;
  padding: 1rem;
}

.about p {
  border-left: 3px solid #ccc;
  padding-left: 1rem;
}

footer {
  padding: 1rem;
}

@media screen and (min-width: 680px) {
  .work-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about .inner {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

@media screen and (min-width: 800px) {
  .menu-button {
    display: none;
  }

  nav {
    display: block !important;
    max-height: 200px;
    width: auto;
  }

  nav ul {
    display: flex;
    gap: 2rem;
  }
}

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}